:root,
:root[data-color-scheme="light"] {
    --bg-color: #fafafa;
    --fg-color: #424242;
}

:root[data-color-scheme="dark"] {
    --bg-color: #424242;
    --fg-color: #fafafa;
}

:root[data-font-type="thin"] {
    --font-weight: 100;
    --font-weight-weather: 300;
}

@media (prefers-color-scheme: dark) {
    :root[data-color-scheme="system"] {
        --bg-color: #424242;
        --fg-color: #fafafa;
    }
}

html {
    height: 100%;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

body {
    font-family: "Lato";
    font-size: 12em;
    font-weight: var(--font-weight, 700);
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    height: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#date {
    font-weight: var(--font-weight, 300);
    font-size: 0.25em;
}

#weather {
    opacity: 0;
    display: none;
    font-size: 0.15em;
    font-weight: var(--font-weight-weather, 100);
}

#weather-link {
    color: var(--fg-color);
    cursor: pointer;
}

#weather-icon {
    display: none;
    font-size: 3em;
    margin-top: 20px;
}

#options {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-size: cover;
    cursor: pointer;
}

#additional-infos {
    font-weight: 300;
    display: grid;
}

#gust {
    display: none;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 6em;
    }

    #date {
        font-size: 0.5em;
    }

    #weather {
        font-size: 0.5em;
    }

    #weather-icon {
        font-size: 4em;
    }

    #loader {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 5em;
    }

    #date {
        font-size: 0.5em;
    }

    #weather {
        font-size: 0.5em;
    }

    #weather-icon {
        font-size: 4em;
    }

    #loader {
        font-size: 0.5em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body-fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.conditions-fadeIn {
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

#loader {
    font-size: 0.15em;
}

#loader span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#loader span:nth-child(2) {
    animation-delay: 0.2s;
}

#loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}
