body {
	font-size: larger;
	padding: 10px;
}

label {
	cursor: default;
	display: block;
	font-weight: bold;
}

#save {
	margin-top: 1em;
}

#css {
	width: 412px;
	height: 206px;
	font-family: "Monaco", "Source Code Pro", "Consolas", monospace;
}

.input-group {
	display: inline-block;
	margin-right: 5px;
}

#credits {
	font-size: smaller;
}

section {
	margin: 5px 0px;
}

#homepage-url {
    width: 420px;
    background-color: lightgrey;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #23222b;
        color: #f9f9fa;
    }
    textarea {
        background-color: #23222b;
        color: #f9f9fa;
    }
}
